body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.first_div{
    border: 1px solid #27c2b2;
    background-color: #27c2b2;
}
.logo{
    display: inline-block;
    border: px solid black;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin-left: 100px;
    margin-top: 0px;
    width: 20%;
    text-align: center;
    letter-spacing: 5px;
}
.contact_us{
    display: inline-block;
    border: px solid black;
    float: right;
    margin-right: 150px;

}
.contact{
    padding: 15px 45px;
    text-transform: uppercase;
    background-color: #1e776e;
    border: 1px solid #1e776e;
    border-radius: 6px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 700;
    margin-right: 9px;
    margin-top: 37px;
    font-size: 16px;
    padding-left: 55px;
    
}


/* SECOND DIV */

.second_div{
    border: 1px solid #27c2b2;
    text-align: center;
    background-color: #27c2b2;
    margin-bottom: -10px;
}
.second_div .title{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue";
    font-size: 72px;
    color: #fff;
}
.sub_title{
    font-family: "Roboto";
    font-size: 18px;
    color: #fff;
    border: px solid black;
}

/* THIRD DIV */

.input-icons i {
    position: absolute;
}
.input-icons {
    width: 20%;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 25%;
    padding: 10px;
    padding-bottom: 3px;
}
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.flag{
    width: 30px;
    margin-left: 10px;
    position: absolute;
    margin-top: 5px;
}
.calendar{
    width: 20%;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 30px;
}
.input_container{
    border: 1px solid #27c2b2;
    width: 50%;
    margin: 0 auto;
    margin-bottom: -1px;
}
.submit{
    border: px solid #27c2b2;
    width: 10%;
    display: inline-block;
    margin-left: 30px; 
    margin-right: 0px;  
    
}
.submit_button{
    padding: 10px;
    background-color: #1e776e;
    border: 1px solid #1e776e;
    color: #fff;
    cursor: pointer;
}
.wrap{
    border: 1px solid #27c2b2;
    background-color: #27c2b2;
    margin-top: 10px;
}

.cumulative{
    border: 1px solid #2fc8b8;
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    background: #1e776e;
    margin: 0 150px;
    border-radius: 8px 8px 0 0;
    margin: 0 auto;
    font-family: "Roboto";
}
.cumulative_numbers{
    font-size: 96px;
    color: #2fc8b8;
    margin-top: 20px;
}
.cumulative_text{
    border: px solid black;
    font-size: 22px;
    font-weight: 700;
    margin-top: -100px;
    margin-bottom: 30px;
}

.shadow{
        border: px solid #333;
        width: 50%;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        background: #fcf9f3;
        height: 40vh;
        margin: 0 auto;
        font-family: "Roboto";
        margin-bottom: 5px;
        color: #000;
        border-radius: 0px 0px 15px 15px;
        
}
.shadow_paragraph{
    float: left;
    border: px solid black;
    margin-left: 10px;
}
.zero{
    border: px solid black;
    color: red;
    width: 100%;
    margin-left: 50px;
    margin-right: 30px;
    font-size: 40px;
    color: #2fc8b8;
    padding-top: 30px;
    margin-left: 20px;
}
.test{
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 15px;
}
.texts{
    font-size: 16px;
    color: #888;
    padding: 5px;
}
.continents{
    border: px solid black;
    text-align: center;

    margin: 100px 20px 50px;
    font-size: 48px;
    font-weight: 700;
    font-family: "Bebas Neue";
    color: #000;
}
.north_img{
    width: 500px;
    height: 50vh;
}
.asia_img{
    width: 600px;
    height: 50vh;
}
.image1{
    display: inline-block;
    margin-left: 50px;
    border: px solid black;
}
.image2{
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
    border: px solid black;
}